@import url('https://fonts.googleapis.com/css4?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --azul: #268fbe;
  --cinza: #616668;
  --vermelho: #e81e4a;

}

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .container {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 6rem;
    
  }

  .container1{
    padding-left: 6rem;
    padding-right: 2rem;

  }
  .container2{
    padding-right: 6rem;
    padding-left: 2rem;

  }

  .img-produto {

    width: 25rem;
    height: 25rem;

  }

  .adicionar-carrinho {

    box-sizing: border-box;
    height: 3rem;
    width: 16vw;
    color: whitesmoke;
    background-color: var(--azul);
    border-radius: 5%;
    border: none;

  }
  .cartao-pag , .caminhao-entrega{
    height: 2rem;
  }



  