

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .container {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
  }

  .container1 {

        padding: 300px;
  }

  .img-produto {

    width: 25rem;
    height: 25rem;

  }

  .h4 {

    display: flex;
    justify-content: flex-start;
    flex-direction: row;
  }

 

  .adicionar-carrinho {

    width: 300px;
    box-sizing: border-box;
    height: 25px;
    color: #e81e4a;
    background-color: #616668

  }



  